.blog-post {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fafafa;
  color: #333;
  font-family: 'Georgia', serif;
  line-height: 1.6;
}

.blog-post h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #222;
}

.blog-post h2 {
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #222;
}

.blog-post p {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: left;
}

.blog-post li {
  font-size: inherit;
  margin-bottom: 10px;
}

.blog-post a {
  color: #1a0dab;
  text-decoration: none;
}

.blog-post a:hover {
  text-decoration: underline;
}

.blog-post img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.blog-post .fpl-logo {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 20px auto;
}